.check-auto {
	position: relative;

	@media (max-width: 900px) {
		margin-top: 70px;
	}

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 430px;
		background: linear-gradient(180deg, #fbfcff 0%, #f0f2f5 100%);
		z-index: -1;

		@media (max-width: 900px) {
			height: 100%;
		}
	}
	// .check-auto__container
	&__container {
		display: flex;
		justify-content: space-between;
		gap: 50px;

		@media (max-width: 900px) {
			justify-content: center;
			flex-wrap: wrap-reverse;
			gap: 40px;
		}
	}
	&-auto__input {
	}
	&-auto__button {
	}
	// .check-auto__images
	&__images {
		text-align: center;
		position: relative;
		img {
			@media (max-width: 900px) {
				width: 100%;
			}
            @media (max-width: $mobileSmall) {
                width: 290px;
            }
		}
	}
	&__buttons {
		position: absolute;
		left: 52px;
		bottom: 30px;

		@media (max-width: $mobileSmall) {
			left: 43px;
			bottom: 10px;
		}

		.check-auto__button {
			width: 268px;
			margin-bottom: 15px;

			@media (max-width: $mobileSmall) {
				width: 206px;
				height: 40px;
				font-size: 12px;
				line-height: 16px;
			}
		}
	}
	// .check-auto__info
	&__info {
		position: relative;
		z-index: 2;
		padding-top: 284px;
		max-width: 668px;

		@media (max-width: 900px) {
			padding-top: 0;
		}
	}
	// .check-auto__top
	&__top {
		display: flex;
		align-items: center;
		column-gap: 24px;
		margin-bottom: 18px;

		@media (max-width: 900px) {
			justify-content: center;
			padding-top: 64px;
		}
	}
	// .check-auto__icon
	&__icon {
	}
	// .check-auto__title
	&__title {
		font-weight: 700;
		@include adaptiveValue('font-size', 28, 18);
		line-height: math.div(38, 28);

		span {
			color: $accent;
		}
	}
	// .check-auto__text
	&__text {
		font-weight: 500;
		@include adaptiveValue('margin-bottom', 34, 16);

		span {
			color: $accent;
		}

		@media (max-width: 900px) {
			text-align: center;
		}
	}
}

.check__button.check-auto__button {
	padding: 15px;
	span {
		@media (max-width: 900px) {
			display: none;
		}
	}

	svg {
		@media (max-width: 900px) {
			display: block;
		}
	}
}

.check__input.check-auto__input {
	@media (max-width: 900px) {
		height: 60px;
	}
}

.check-auto__input::placeholder {
	@include adaptiveValue('font-size', 16, 12);
}

.check-auto__bg {
	position: absolute;
	z-index: 1;
	top: 120px;
	right: 0;

	@media (max-width: 900px) {
		top: -120px;
	}

	@media (min-width: 1320px) {
		top: 50px;
		right: -200px;
	}

	@media (min-width: 1470px) {
		right: -130px;
	}

	@media (min-width: 1670px) {
		right: 0px;
	}
}
