.statistics__inner {
	display: flex;
	align-items: flex-start;
	gap: 15px;
	@include adaptiveValue('padding-top', 80, 30);
	@include adaptiveValue('padding-bottom', 100, 30);

	@media (max-width: 1050px) {
		flex-wrap: wrap;
		row-gap: 40px;
		justify-content: center;
	}
}

.statistics__column {
	flex-basis: 276px;

    @media (max-width: 600px) {
        flex-basis: 210px;
    }

	@media (max-width: $mobileSmall) {
		flex-basis: calc(50% - 15px);
	}
}

.progress {
	position: relative;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	background: conic-gradient($accent 240deg, $silver 90deg);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;

    &.two {
        background: conic-gradient($accent 120deg, $silver 90deg);
    }
    &.three {
        background: conic-gradient($accent 140deg, $silver 90deg);
    }
    &.four {
        background: conic-gradient($accent 178deg, $silver 90deg);
    }

	@media (max-width: $mobileSmall) {
		height: 100px;
		width: 100px;
	}
}
.progress::before {
	content: '';
	position: absolute;
	height: 110px;
	width: 110px;
	border-radius: 50%;
	background-color: #fff;

	@media (max-width: $mobileSmall) {
		height: 70px;
		width: 70px;
	}
}
.progress__value {
	position: relative;
	@include adaptiveValue("font-size", 34, 22);
	line-height: 46px;
	color: $mainColor;
}

.progress__text {
	font-weight: 700;
	@include adaptiveValue("font-size", 18, 12);
	line-height: math.div(25, 18);
	text-align: center;
    margin-top: 40px;

	span {
		color: $accent;
	}

	@media (max-width: $mobile) {
        max-width: 276px;
        margin-left: auto;
        margin-right: auto;
	}
}
