.header {
	background: $silver;
	// .header__container
	&__container {
	}
	// .header__inner
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 20px;
		@include adaptiveValue('margin-bottom', 40, 20);

		@media (max-width: $mobile) {
			margin-top: 12px;
			margin-bottom: 12px;
		}
	}
	// .header__logo
	&__logo {
		img {
			@media (max-width: $mobile) {
				width: 113px;
				height: 36px;
			}
		}
	}
	// .header__menu
	&__menu {
	}
	// .header__vin
	&__vin {
	}
	// .header__vin-link
	&__vin-link {
		font-weight: 700;
		font-size: 14px;
		line-height: 19px;
		padding-bottom: 5px;
		position: relative;

		span {
			color: $accent;
		}

		&::after {
			position: absolute;
			content: '';
			width: 24px;
			height: 2px;
			bottom: 0;
			left: 0;
			background-color: $accent;
		}

		@media (max-width: $mobile) {
			display: inline-block;
			margin-bottom: 20px;
		}
	}
}

.menu {
	// .menu__body
	&__body {
	}
	// .menu__list
	.menu__list {
		display: flex;
		@include adaptiveValue('column-gap', 60, 20, 1100, 768, 1);
		@media (max-width: $mobile) {
			flex-direction: column;
			row-gap: 24px;
			margin-bottom: 34px;
		}
	}
	&__report {
		display: none;

		@media (max-width: $mobile) {
			display: block;
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		position: relative;
		transition: width 0.3s linear;
		font-weight: 700;
		padding-bottom: 5px;

		&::after {
			content: '>';
			color: $accent;
			padding-left: 5px;
		}
		&::before {
			content: '';
			transition: width 0.3s linear;
			position: absolute;
			left: auto;
            right: 0;
			bottom: 0;
			width: 0;
			height: 2px;
			background-color: $accent;
		}
		&:hover {
			&::before {
                right: auto;
                left: 0;
				width: 100%;
			}
		}
	}
	// .menu__link--faq
	&__link--faq {
		&::after {
			content: '';
			padding-left: 25px;
			background-image: url('../img/icons/question.svg');
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	&__input {
		display: none;
		height: 60px;
		padding: 10px;
		width: 100%;
		border-radius: 5px;
		margin-bottom: 36px;

		&::placeholder {
			@include adaptiveValue('font-size', 16, 12);
		}

		@media (max-width: $mobile) {
			display: block;
		}
	}
	&__form {
		position: relative;
		width: 100%;
	}
	&__button {
		display: none;
		position: absolute;
		top: 10px;
		right: 10px;
		background-color: $accent;
		border-radius: 5px;
		width: 40px;
		height: 40px;

		@media (max-width: $mobile) {
			display: block;
		}
	}
	&__report {
		display: none;
		align-items: center;
		font-weight: 700;
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 39px;

		img {
			margin-right: 3px;
		}

		span {
			color: $accent;
		}
		@media (max-width: $mobile) {
			display: flex;
			gap: 5px;
		}
	}

	// .menu__social
	&__social {
		display: none;
		@media (max-width: $mobile) {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
	}
	// .menu__social-link
	&__social-link {
		border: 1px solid #2285e0;
		border-radius: 5px;
		display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
		padding: 10px;
		width: 280px;

		font-weight: 700;
		font-size: 12px;
		line-height: 16px;
		text-align: center;

		color: #2285e0;
	}
}

/* Burger */

.menu__body {
	@media (max-width: $mobile) {
		position: fixed;
		z-index: 10;
		width: 100%;
		height: calc(100% - 60px);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		bottom: 0;
		left: -100%;
		overflow: auto;
		background: $silver;
		transition: all 0.3s ease;
		padding-top: 20px;
		padding-bottom: 100px;
		padding-left: 20px;
		padding-right: 20px;

		.menu-open & {
			left: 0;
			&::before {
				left: 0;
			}
		}
	}
}

.header__menu {
	display: flex;
	align-items: center;
}

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		margin-left: auto;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: '';
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			background-color: rgba(34, 133, 224, 1);
			top: 0;
		}
		&::after {
			background-color: rgba(159, 183, 211, 1);
			bottom: 0;
		}
		span {
			width: 15px;
			background-color: rgba(159, 183, 211, 1);
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				background-color: rgba(34, 133, 224, 1);
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
